div {
    text-align: center;
}
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: gainsboro;
}
#conteudo {
    width: 350px;
    margin: 0 auto;
    background-color: white;
    padding-bottom: 10px;
}			
input {
    width: 80%;
    margin: 5px 0;
    padding: 5px;
}
.imagem {
    max-width: 350px;
}